*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
paittern/contouring/brouillons/
contouring/
*.h5
people_segmentation/
saved_models/
notebooks/
new_data/
*.ipynb
*.jpg
*.png
*.gif
settings.json
