# packaging
#pip>=9
#setuptools>=26
#twine
#wheel>=0.29

# data science
numpy
pandas
scikit-learn
opencv-python
temp
keras
streamlit

# tests/linter
#black
#coverage
#flake8
#pytest
#yapf

# API
#gcsfs
google-cloud-storage
#mlflow
#s3fs

# utilities
#six>=1.14
#urllib3>=1.21.1
#fsspec==2022.02.0
memoized-property
termcolor
opencv-python
joblib

#model
tensorflow
tensorflow_hub

#API
fastapi
uvicorn
cloudinary
python_dotenv
